# Database URL (e.g. PostgreSQL format)
DATABASE_URL="mysql://username:password@host:port/table_name"

# App port (default: 3000)
PORT=3003

# Access Token settings
ACCESS_TOKEN_KEY=
ACCESS_TOKEN_EXPIRE_TIME=

# Refresh Token settings
REFRESH_TOKEN_KEY=
REFRESH_TOKEN_EXPIRE_TIME=

# Token for guard settings
GUARD_TOKEN_KEY=
GUARD_TOKEN_EXPIRE_TIME=
